[submodule "third_party/compiler"]
	path = third_party/compiler
	url = git@github.com:category-labs/monad-compiler.git
[submodule "third_party/ethereum-tests"]
	path = third_party/ethereum-tests
	url = https://github.com/ethereum/tests
[submodule "third_party/execution-specs"]
	path = third_party/execution-specs
	url = https://github.com/ethereum/execution-specs.git
[submodule "third_party/intx"]
	path = third_party/intx
	url = https://github.com/chfast/intx.git
	branch = master
[submodule "third_party/komihash"]
	path = third_party/komihash
	url = https://github.com/avaneev/komihash.git
[submodule "third_party/silkpre"]
	path = third_party/silkpre
	url = https://github.com/category-labs/silkpre.git
[submodule "third_party/thread-safe-lru"]
	path = third_party/thread-safe-lru
	url = git@github.com:category-labs/thread-safe-lru.git
[submodule "third_party/yellowpaper"]
	path = third_party/yellowpaper
	url = https://github.com/ethereum/yellowpaper.git
[submodule "ethash"]
	path = third_party/ethash
	url = https://github.com/chfast/ethash.git
[submodule "core/third_party/nanobench"]
	path = libs/core/third_party/nanobench
	url = https://github.com/martinus/nanobench.git
[submodule "core/third_party/nlohmann_json"]
	path = libs/core/third_party/nlohmann_json
	url = https://github.com/nlohmann/json.git
[submodule "core/third_party/quill"]
	path = libs/core/third_party/quill
	url = https://github.com/odygrd/quill.git
[submodule "core/third_party/unordered_dense"]
	path = libs/core/third_party/unordered_dense
	url = https://github.com/martinus/unordered_dense.git
[submodule "libs/runloop/third_party/binutils-gdb"]
	path = libs/runloop/third_party/binutils-gdb
	url = git@github.com:category-labs/binutils-gdb.git
[submodule "third_party/BLAKE3"]
	path = third_party/BLAKE3
	url = https://github.com/BLAKE3-team/BLAKE3.git
