[submodule "third_party/ethash"]
	path = third_party/ethash
	url = https://github.com/monad-crypto/ethash.git
[submodule "third_party/evmone"]
	path = third_party/evmone
	url = https://github.com/monad-crypto/evmone.git
[submodule "third_party/intx"]
	path = third_party/intx
	url = https://github.com/chfast/intx.git
	branch = master
[submodule "conan/cmake-conan"]
	path = conan/cmake-conan
	url = https://github.com/conan-io/cmake-conan.git
[submodule "third_party/silkpre"]
	path = third_party/silkpre
	url = https://github.com/monad-crypto/monad-silkpre.git
[submodule "monad-core"]
	path = monad-core
	url = git@github.com:monad-crypto/monad-core.git
