[submodule "intx"]
	path = third_party/intx
	url = git@github.com:chfast/intx.git
[submodule "third_party/asmjit"]
	path = third_party/asmjit
	url = git@github.com:asmjit/asmjit.git
[submodule "third_party/ethash"]
	path = third_party/ethash
	url = git@github.com:chfast/ethash.git
[submodule "third_party/evmone"]
	path = third_party/evmone
	url = git@github.com:category-labs/evmone.git
[submodule "third_party/nlohmann_json"]
	path = third_party/nlohmann_json
	url = git@github.com:nlohmann/json.git
[submodule "third_party/ethereum-tests"]
	path = third_party/ethereum-tests
	url = git@github.com:ethereum/tests.git
